<?xml version="1.0" ?>
<config>
    <type name="Student\PowerModule\Block\PowerBlock">
        <plugin disabled="false" name="student_powermodule_powerblockafter"  sortOrder="10" type="Student\PowerModule\Plugin\PowerBlockAfter"/>
    </type>

    <type name="Magento\Catalog\Pricing\Price\FinalPrice">
        <plugin disabled="false" name="student_powermodule_priceplugin" sortOrder="20" type="Student\PowerModule\Plugin\PricePlugin" />
    </type>

    <preference for="Student\PowerModule\Block\PowerBlock" type="Student\PowerModule\Preference\PowerBlockPreference" />

    <type name="Magento\Widget\Model\Widget">
        <plugin disabled="false" name="student_powermodule_widgeturl" sortOrder="40" type="Student\PowerModule\Plugin\WidgetURL" />
    </type>

    <type name="Vovayatsyuk\Alsoviewed\Block\ListProduct">
        <plugin disabled="false" name="student_powermodule_listproduct" sortOrder="50" type="Student\PowerModule\Plugin\AlsoViewedListProduct"/>
    </type>
</config>
