<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Student_PowerModuleNewPage::greetings" title="Greetings" translate="title" module="Student_PowerModule" parent="Magento_Backend::content" sortOrder="50" dependsOnModule="Student_PowerModuleNewPage" resource="Student_PowerModuleNewPage::greetings"/>
        <add id="Student_PowerModuleNewPage::greetings_helloworld" title="Hello World" translate="title" module="Student_PowerModule" parent="Student_PowerModuleNewPage::greetings" sortOrder="10" dependsOnModule="Student_PowerModuleNewPage" action="exampleadminnewpage/helloworld" resource="Student_PowerModuleNewPage::greetings"/>
    </menu>
</config>